* {
  margin: 0;
  padding: 0;
}

body{
  background-color: hsl(205, 35%, 50%);
}

.container {
  padding: 160px 0;
  text-align: center;
  height: 70%;
}

.sub-container {
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teams {
  margin: 10px;
  padding: 22px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}

.teams:hover {
  background: #ddd;
  border-radius: 12px;
}

.teams img {
  width: 200px;
  height: 200px;
}

.name {
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: hsl(220, 60%, 20%);
}

.desig {
  font-style: italic;
  color: #888;
}

.about {
  margin: 20px 0;
  font-weight: lighter;
  color: #4e4e4e;
}

.social-links {
  margin: 14px;
}

.social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: .4s;
}

.social-links a:hover {
  transform: scale(1.5);
}

.social-links a i {
  color: #444;
}

.desig, .about, i {
  color: hsl(220, 60%, 20%);
  visibility: hidden;
}

.teams:hover .desig, 
.teams:hover .about, 
.teams:hover i {
  visibility: visible;
}

#profile-picture {
  border-radius: 1rem;
}

@media screen and (max-width: 600px) {
  .teams {
      max-width: 100%;
  }
}