* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body{
   width: 100%;
   background-color: #5387AC;
}

.section {
  padding: 100px 0;
}

.content-slider {
   width: 100%;
   height: 360px;
 }
 
 .slider {
   height: 300px;
   width: 700px;
   margin: 70px auto 0;
   overflow: visible;
   position: relative;
 }
 
.mask {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 300px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 5rem;
}
 
 .slider ul {
   margin: 0;
   padding: 0;
   position: relative;
 }
 
 .slider li {
  position: absolute;
  width: 680px;
  height: 300px;
  top: -300px;
  right: -335px;
  list-style: none;
 }
 
 .slider .quote {
   font-size: 40px;
   font-style: italic;
 }
 
 .slider .source {
   font-size: 20px;
   text-align: right;
 }

 .slider li.anim {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 }
 
 .slider li.anim1 {
  animation: cycle 15s linear infinite;
 }
 
 .slider li.anim2 {
   animation: cycle2 15s linear infinite;
 }
 
 .slider li.anim3 {
   animation: cycle3 15s linear infinite;
 }
 
 .slider li.anim4 {
   animation: cycle4 15s linear infinite;
 }
 
 .slider li.anim5 {
   animation: cycle5 15s linear infinite;
 }
 
 .slider:hover li {
   animation-play-state: paused;
 }
 
 @keyframes cycle {
   0% {
     top: -150px;
   }
   5% {
     top: -150px;
   }
   15% {
     top: -150px;
     opacity: 1;
     z-index: 0;
   }
   20% {
     top: 300px;
     opacity: 0;
     z-index: 0;
   }
   21% {
     top: -300px;
     opacity: 0;
     z-index: -1;
   }
   50% {
    top: -300px;
     opacity: 0;
     z-index: -1;
   }
   90% {
    top: -300px;
     opacity: 0;
     z-index: 0;
   }
   95% {
    top: -300px;
     opacity: 0;
   }
   100% {
     top: 0px;
     opacity: 1;
   }
 }
 
 @keyframes cycle2 {
   0% {
     top: -300px;
     opacity: 0;
   }
   15% {
     top: -300px;
     opacity: 0;
   }
   20% {
     top: -150px;
     opacity: 1;
   }
   25% {
     top: -150px;
     opacity: 1;
   }
   35% {
     top: -150px;
     opacity: 1;
     z-index: 0;
   }
   40% {
     top: 300px;
     opacity: 0;
     z-index: 0;
   }
   41% {
     top: -300px;
     opacity: 0;
     z-index: -1;
   }
   100% {
     top: -300px;
     opacity: 0;
     z-index: -1;
   }
 }
 
 @keyframes cycle3 {
   0% {
     top: -300px;
     opacity: 0;
   }
   35% {
     top: -300px;
     opacity: 0;
   }
   40% {
     top: -150px;
     opacity: 1;
   }
   45% {
     top: -150px;
     opacity: 1;
   }
   55% {
     top: -150px;
     opacity: 1;
     z-index: 0;
   }
   60% {
     top: 300px;
     opacity: 0;
     z-index: 0;
   }
   61% {
     top: -300px;
     opacity: 0;
     z-index: -1;
   }
   100% {
     top: -300px;
     opacity: 0;
     z-index: -1;
   }
 }
 
 @keyframes cycle4 {
   0% {
     top: -300px;
     opacity: 0;
   }
   55% {
     top: -300px;
     opacity: 0;
   }
   60% {
     top: -150px;
     opacity: 1;
   }
   65% {
     top: -150px;
     opacity: 1;
   }
   75% {
     top: -150px;
     opacity: 1;
     z-index: 0;
   }
   80% {
     top: 300px;
     opacity: 0;
     z-index: 0;
   }
   81% {
     top: -300px;
     opacity: 0;
     z-index: -1;
   }
   100% {
     top: -300px;
     opacity: 0;
     z-index: -1;
   }
 }
 
 @keyframes cycle5 {
   0% {
     top: -300px;
     opacity: 0;
   }
   75% {
     top: -300px;
     opacity: 0;
   }
   80% {
     top: -150px;
     opacity: 1;
   }
   85% {
     top: -150px;
     opacity: 1;
   }
   90% {
     top: 300px;
     opacity: 1;
     z-index: 0;
   }
   91% {
     top: 300px;
     opacity: 0;
     z-index: -1;
   }
   100% {
     top: -300px;
     opacity: 0;
     z-index: -1;
   }
 }
.services{
   width: 85%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 75px auto;
   text-align: center;
}
.card{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   margin: 0px 20px;
   padding: 20px 20px;
   background-color: #efefef;
   border-radius: 10px;
   cursor: pointer;
}
.card:hover{
   background-color: #80aecf;
   border-radius: 10px;
}
.card .icon{
   font-size: 35px;
   margin-bottom: 10px;
}
.card h2 {
   font-size: 28px;
   color: hsl(40, 85%, 60%);;
   margin-bottom: 20px;
}
.card p {
   font-size: 17px;
   margin-bottom: 30px;
   line-height: 1.5;
   color: #5e5e5e;
}
.button {
   font-size: 15px;
   text-decoration: none;
   color: #efefef;
   background-color: #142952;
   padding: 8px 12px;
   border-radius: 5px;
   transition: 0.5s ease-in-out;
}
.button:hover {
   background-color: hsl(40, 85%, 60%);
   color: hsl(220, 60%, 20%);
   transition: 0.5s ease-in-out;
}

#footer{
  background-color: hsl(220, 60%, 20%);
  padding: 1rem;
}

@media screen and (max-width:940px ) {
   .services{
      display: flex;
      flex-direction: column;
   }
   .card{
      width: 85%;
      display: flex;
      margin: 20px;
   }
}